<template>
  <div class="card" style="margin-left: 2%">
    <h1 class="title">QUANTOS DIAS TRABALHEI AQUI?</h1>
    <h3 class="subtitle">Preencha os campos e descubra!</h3>
    <el-form
      ref="form"
      class="form"
      :model="form"
      label-width="120px"
      label-position="top"
    >
      <el-col :span="22" :offset="1">
        <h3 class="label">Me chamo</h3>
        <el-form-item>
          <el-input
            v-model="form.name"
            placeholder="Insira seu nome"
            class="input"
          ></el-input>
        </el-form-item>
      </el-col>

      <el-col :span="22" :offset="1">
        <h3 class="label">Trabalho aqui desde</h3>
        <el-form-item class="label">
          <el-date-picker
            type="date"
            placeholder="dd / mm / aaaa"
            format="dd/MM/yyyy"
            value-format="timestamp"
            v-model="form.since"
            style="width: 100%;"
            class="input"
          ></el-date-picker>
        </el-form-item>
      </el-col>
      <el-button
        type="primary"
        size="medium"
        @click="onSubmit"
        class="button"
        :disabled="!form.name || !form.since"
        >Calcular
      </el-button>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Card",
  data() {
    return {
      form: {
        name: "",
        since: "",
      },
    };
  },
  methods: {
    onSubmit() {
      +new Date() - this.form.since > 0
        ? this.$emit("submit", this.form)
        : (this.form.since = null);
    },
  },
  // props: {
  //   msg: String,
  // },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  background-color: rgba(0, 135, 197, 0.8);
  background-size: 100%;
  padding: 10px;
  border-radius: 11px;
  align-items: center;
  text-align: center;
}
.title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 3% 0 0 0;
}
.subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.label {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: flex-start;
  text-align: start;
  color: #ffa800;
}
.form {
  align-items: center;
  text-align: center;
}
.button {
  background: #001f43;
  border: none;
  width: 40%;
  height: 60px;
  margin: 22px 0 32px;
  left: 119px;
  top: 339px;
}
</style>
