<template>
  <div class="navy" ref="capture">
    <h3 class="blue" style="padding-top: 20px;">Eu me chamo</h3>
    <h1 class="name">{{ name }}</h1>
    <h3 class="blue">
      Trabalho na Empresa há
    </h3>
    <h1 class="days">{{ days }}</h1>
    <br />
    <h1 class="dias">dias</h1>
    <h5 id="button" v-if="preview" @click="download" class="button">
      Download
    </h5>
    <el-row id="bar" v-show="!preview">
      <el-col :span="10" class="bar" style="background-color: #0071AD"></el-col>
      <el-col :span="4" class="bar" style="background-color: #33BFFF"></el-col>
      <el-col :span="4" class="bar" style="background-color: #FFA800"></el-col>
    </el-row>
  </div>
</template>

<script>
import html2canvas from "html2canvas";

export default {
  name: "Preview",
  props: {
    name: String,
    days: Number,
  },
  data() {
    return {
      preview: true,
    };
  },
  mounted() {
    this.$nextTick(function() {
      document.getElementById("bar").style.visibility = "hidden";
    });
  },
  methods: {
    capture() {
      this.$nextTick(() => {
        html2canvas(this.$refs.capture, {
          width: this.$refs.capture.clientWidth,
          height: this.$refs.capture.clientHeight,
        })
          .then((canvas) => {
            // console.log(this.$refs.capture)
            // document.location.href = canvas.toDataURL()
            var a = document.createElement("a");
            a.href = canvas.toDataURL("image/png");
            a.download = "Card.png";
            a.click();
          })
          .catch((error) => {
            alert("Erro " + error);
          });
      });
    },
    download() {
      document.getElementById("button").style.visibility = "hidden";
      document.getElementById("bar").style.visibility = "visible";
      this.preview = false;
      this.capture();
    },
  },
};
</script>

<style scoped>
.navy {
  background-color: rgb(0, 26, 75);
  align-items: center;
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.bar {
  height: 18px;
  border-radius: 0;
  margin: 3% 0 5px 0;
}
.name {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.blue {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #33bfff;
}
.days {
  padding: 10px;
  margin: 0 38% 0 38%;
  white-space: nowrap;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.5px;
  border: 1px solid #33bfff;
  border-radius: 5px;
  color: #ffa800;
}
.dias {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.5px;
  margin-top: -1%;
  color: #ffffff;
}
.button {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 15px 0 15px 0;
  margin: 0 25% 0 25%;
  color: #ffffff;
  background-color: #33bfff;
  border: 2px solid #33bfff;
  border-radius: 5px;
  cursor: pointer;
}
</style>
