<template>
  <div>
    <!-- mobile -->
    <div class="hidden-lg-and-up">
      <h1 class="titlemob">Calculadora de dias trabalhados</h1>
      <h3 class="subtitlemob">
        Preencha seus dados e veja quantos dias já trabalhou em nossa empresa :)
      </h3>
    </div>
    <!-- desktop -->
    <div class="hidden-md-and-down">
      <h1 class="title">Calculadora de dias trabalhados</h1>
      <h3 class="subtitle">
        Preencha seus dados e veja quantos dias já trabalhou em nossa empresa :)
      </h3>
      <el-row>
        <el-col
          :span="8"
          class="bar"
          style="background-color: #0071AD"
        ></el-col>
        <el-col
          :span="3"
          class="bar"
          style="background-color: #33BFFF"
        ></el-col>
        <el-col
          :span="3"
          class="bar"
          style="background-color: #FFA800"
        ></el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sentences",
};
</script>

<style scoped>
.bar {
  height: 18px;
  border-radius: 0;
}
.title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 62px;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
}
.subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-start;
  color: #33bfff;
}
.titlemob {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  color: #ffffff;
  align-items: center;
  text-align: center;
  padding-bottom: 3%;
  margin-top: -3%;
}
.subtitlemob {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  color: #33bfff;
  align-items: center;
  text-align: center;
  padding-bottom: 1%;
  margin-top: -3%;
}
</style>
