<template>
  <div id="app">
    <!-- mobile -->
    <el-row class="hidden-lg-and-up">
      <Sentences />
      <Card v-if="!days" @submit="calculate" />
      <div v-if="days">
        <Preview :name="name" :days="days" />
      </div>
    </el-row>

    <!-- desktop -->
    <el-row :gutter="20" class="hidden-md-and-down">
      <el-col :offset="4" :span="6">
        <Sentences />
      </el-col>
      <el-col :offset="2" :span="9">
        <Card v-if="!days" @submit="calculate" />
        <div v-if="days">
          <Preview :name="name" :days="days" />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Card from "./components/Card.vue";
import Sentences from "./components/Sentences.vue";
import Preview from "./components/Preview.vue";

export default {
  name: "App",
  components: {
    Card,
    Sentences,
    Preview,
  },
  data() {
    return {
      name: null,
      days: null,
    };
  },
  methods: {
    calculate(form) {
      this.name = form.name;
      this.days =
        Math.trunc((+new Date() - form.since) / 1000 / 60 / 60 / 24) + 1;
      // /1000/60/60/24 -> / mili -> sec / sec -> min / min -> hora / hora -> dia
      // e "+ 1" pois o dia iniciado conta
    },
  },
};
</script>

<style>
html,
body {
  background-color: rgb(0, 26, 75);
  color: rgb(0, 26, 75);
  width: 99%;
  height: 85%;
  padding: 0;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-color: rgb(0, 26, 75);
  padding: 9% 0 0 0;
}
</style>
